In [1]:
from AQIdata.data import Data

In [2]:
d = Data()

In [3]:
df = d.read_data()

In [6]:
import pandas as pd

In [8]:
pd.to_datetime(df['Date']).dt.year

0          2018
1          2018
2          2018
3          2018
4          2018
           ...
2674473    2015
2674474    2015
2674475    2015
2674476    2015
2674477    2015
Name: Date, Length: 2674478, dtype: int64

In [4]:
df.head()

           CBSA  ...  Number of Sites Reporting
0  Aberdeen, SD  ...                          1
1  Aberdeen, SD  ...                          1
2  Aberdeen, SD  ...                          1
3  Aberdeen, SD  ...                          1
4  Aberdeen, SD  ...                          1

[5 rows x 8 columns]

In [5]:
df['Date']

0          2018-01-02
1          2018-01-05
2          2018-01-08
3          2018-01-14
4          2018-01-17
              ...
2674473    2015-12-27
2674474    2015-12-28
2674475    2015-12-29
2674476    2015-12-30
2674477    2015-12-31
Name: Date, Length: 2674478, dtype: object